<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tokens</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .section-container {
      max-width: 800px;
      margin-right: auto;
      margin-left: auto;
    }
  </style>
</head>
<body>
  <div id="app" class="container">
    <section class="section section-container" style="padding-top: 24px; padding-bottom: 5px;">
        <div class="notification is-info">
              This is a user-friendly implementation, but don't expect any error handling. 
              If you think this should be extended, please feel free to add a PR in the repo. 
        </div>
        <h2 class="title">Tokens</h2>
        <contact v-for="token in tokens"
            :key="token.id"
            :contact="token"
            @save-token="onAddOrUpdateToken" 
            @delete-token="deleteToken" />
    </section>
    <section class="section section-container" style="padding-bottom: 10px;">
      <div class="box">
        <add-update-token title="Add Token" @save-token="onAddOrUpdateToken" />
      </div>
    </section>
  </div>
  <script>
  const AddUpdateToken = {
    props: ['contact', 'title'],
    data () {
      return {
        id: this.contact ? this.contact.id : null,
        clientId: this.contact ? this.contact.clientId : '',
        token: this.contact ? this.contact.token : '',
        userFid: this.contact ? this.contact.userFid : ''
      }
    },
    methods: {
      save() {
        this.$emit('save-token', { id: this.id, clientId: this.clientId, token: this.token, userFid: this.userFid })
        if (!this.id) {
          this.clientId = ''
          this.token = ''
          this.userFid = ''
        }
      }
    },
    template: `
      <form class="form" @submit.prevent="save">
        <h3 class='subtitle'>{{ title }}</h3>
        <div class="field">
            <label>Pardot User Id</label>
            <div class="control">
              <input class="input" type="text" v-model="clientId">
            </div> 
        </div>
        <div class="field">
            <label>Token</label>
            <div class="control">
              <input class="input" type="text" v-model="token">
            </div> 
        </div>
        <div class="field">
            <label>Salesforce User Id</label>
            <div class="control">
              <input class="input" type="text" v-model="userFid">
            </div> 
        </div>
        <div class="field">
            <div class="control">
              <button class="button is-success">Save</button>
            </div> 
        </div>
      </form>
    `
  }

  const Token = {
    props: ['contact'],
    components: { 'add-update-token': AddUpdateToken },
    data () {
      return {
        showDetail: false
      }
    },
    methods: {
      onAddOrUpdateToken(contact) {
        this.$emit('save-token', contact)
      },
      deleteToken (contact) {
        this.$emit('delete-token', contact)
      }
    },
    template: `
      <div class="card">
        <header class="card-header">
          <p @click="showDetail = !showDetail" class="card-header-title">
            {{ contact.token }}
          </p>
          <a class="card-header-icon" @click.stop="deleteToken(contact)">
            <span class="icon">
              <i class="fa fa-trash"></i>
            </span>
          </a>
        </header>
        <div v-show="showDetail" class="card-content">
            <add-update-token title="Details" :contact="contact" @save-token="onAddOrUpdateToken" />
        </div>
      </div>
    `
  }

  new Vue({
    el: '#app',
    components: { contact: Token, 'add-update-token': AddUpdateToken },
    data: {
      tokens: [],
      apiURL: 'http://localhost:58085/api/tokens'
    },
    methods: {
      onAddOrUpdateToken (contact) {
        if (contact.id) {
          this.updateToken(contact)
        } else {
          this.addToken(contact)
        }
      },
      addToken (contact) {
        return axios.post(this.apiURL, contact)
          .then((response) => {
            const copy = this.tokens.slice()
            copy.push(response.data)
            this.tokens = copy
          })
      },
      updateToken (contact) {
        return axios.put(`${this.apiURL}/${contact.id}`, contact)
          .then((response) => {
            const copy = this.tokens.slice()
            const idx = copy.findIndex((c) => c.id === response.data.id)
            copy[idx] = response.data
            this.tokens = copy
          })
      },
      deleteToken (contact) {
        console.log('deleting', contact)
        return axios.delete(`${this.apiURL}/${contact.id}`)
          .then((response) => {
            let copy = this.tokens.slice()
            const idx = copy.findIndex((c) => c.id === contact.id)
            copy.splice(idx, 1)
            this.tokens = copy
          })
      }
    },
    beforeMount () {
      axios.get(this.apiURL)
        .then((response) => {
          this.tokens = response.data
        })
    }
  })

  </script>
</body>
</html>